body {
    margin:0;
    font-family: Arial;
    background:#0b1220;
    color:white;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.box {
    background:#1f2937;
    padding:20px;
    border-radius:10px;
    width:300px;
}

input, select {
    width:100%;
    padding:10px;
    margin-top:10px;
    border-radius:6px;
    border:none;
}

button {
    width:100%;
    padding:10px;
    margin-top:10px;
    background:#22c55e;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

header {
    background:#111827;
    padding:15px;
    display:flex;
    justify-content:space-between;
}

.container {
    padding:15px;
}

.grid {
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
}

.card {
    background:#1f2937;
    padding:10px;
    border-radius:10px;
}
